<p id="notice"><%= notice %></p>

<p>
  <strong>Event ID:</strong>
  <%= @comment.event_id %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>