<%= stylesheet_link_tag    'show', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'other_links', media: 'all', 'data-turbolinks-track': 'reload' %>


<!-- <p id="notice"><%= notice %></p> -->

<div class="container alert alert-info" style="width: 50%; border-width: 5px;">
<h1 class="details" style="color: #FFC000; margin-top: 50px">
  <strong>User <%= @username %> Not Found!</strong>
</h1><br>

</div>

