<%= stylesheet_link_tag    'new', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container alert alert-info" style="width: 50%; border-width: 5px;">
<h1 class="details" style="color: #FFC000; margin-top: 50px">
	<strong>
		New Event
	</strong>
</h1><br>

<%= render 'form', event: @event %><br>

<h5 style="color:black; margin-bottom: 30px"><%= link_to 'Back', events_path %></h5>
</div>
