// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
	text-align: center;
}

.col-md-6 {
	width: 100%;
}

.container {
	border-color: #FFC000;
	background-color: white
}

.event-header {
	line-height: 50px;
	height: 50px;
	display: inline-block;
	float: left;
	font-size: 25px;
	font-weight: bold;
}

div#header-one {
	width: 25%;
	margin-left: -5px;
}

div#header-two {
	width: 25%;
	border-left: 2px dotted;
}

div#header-three {
	width: 18%;
	border-left: 2px dotted;
}

div#header-four {
	width: 15%;
	border-left: 2px dotted;
	border-right: 2px dotted;
}

div#header-five {
	width: 16%;
	margin-left: 12px;
}

.events {
	text-align: center;
	height: 175px;
	display: inline-block;
	float: left;
	font-weight: bold;
	color: #FFC000;
}

div.one {
	width: 25%;
	margin-left: -5px;
	font-size: 45px;
	padding-top: 50px;
	padding-bottom: 48px;
}

div.two {
	width: 25%;
	font-size: 35px;
	border-left: 2px dotted;
	padding-top: 60px;
	padding-bottom: 60px;
}

div.three {
	width: 18%;
	font-size: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-left: 2px dotted;
}

div.four {
	width: 15%;
	font-size: 70px;
	border-left: 2px dotted;
	border-right: 2px dotted;
}

div.five {
	width: 16%;
	margin-left: 12px;
	font-size: 20px;
}

.lit {
	height: 95px;
	width: 100px;
	margin-top: 38px;
}

#new-event-btn {
	text-align: center;
	background-color: #FFC000; 
	width: 10%;
	border-color: lightcyan;
	border-width: 5px;
}

.show-btn {
	background-color: #FFC000; 
	width: 112px;
	height: 55px;
	line-height: 15px;
	font-size: 17px;
	border-color: #31708f;
	border-width: 5px;
	margin-bottom: 5px;
	color: #31708f;
}

.edit-btn {
	background-color: #FFC000; 
	width: 112px;
	height: 55px;
	line-height: 15px;
	font-size: 17px;
	border-color: #31708f;
	border-width: 5px;
	margin-bottom: 5px;
	color: #31708f;
}

.destroy-btn {
	background-color: #FFC000; 
	width: 112px;
	height: 55px;
	line-height: 15px;
	font-size: 17px;
	border-color: #31708f;
	border-width: 5px;
	margin-bottom: 5px;
	color: #31708f;
}

.participate-btn {
	background-color: #FFC000; 
	width: 112px;
	height: 55px;
	line-height: 15px;
	font-size: 17px;
	border-color: #31708f;
	border-width: 5px;
	margin-bottom: 5px;
	color: #31708f;
}

.leave-btn {
	width: 112px;
	height: 55px;
	line-height: 15px;
	font-size: 17px;
	border-color: #31708f;
	border-width: 5px;
	margin-bottom: 5px;
	color: #31708f;
}