// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// THIS FILE CONTAINS ALL CSS FOR ALL PAGES

body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
	font-family: Droid Sans Mono;
}

.full {
  background: url(https://wallpaperscraft.com/image/abstraction_light_pink_blue_purple_patterns_47133_2560x1440.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
	text-align: center;
}

a {
	font-weight: bold;
	color: #000000;
}